*{
 
 
   margin: 0;
   padding: 0;
}
.main{
   width: 100%;
  background-color: #1ce0bd;
   background-position: center;
   background-size: cover;
   height: 123vh;
}
.navbar{
   width: auto;
   background: fixed;
   background-color: #f10c80;
   height: 75px;
   margin: auto;
}
 
 
.icon{
   width: 200px;
   float: left;
   height: 70px;
}
.logo{
   color: white;
   font-size: 35px;
   font-family: 'roboto';
   font-size: bold;
   padding-left: 20px;
   float: left;
   padding-top: 10px;
   text-align: center;
   margin-top: 5px
}
.menu{
   width: 400px;
   float: left;
   height: 70px;
}
ul{
   float: left;
   display: flex;
   justify-content: center;
   align-items: center;
}
ul li{
   list-style: none;
   margin-left: 50px;
   margin-top: 27px;
   font-size: 14px;
}
ul li a{
   text-decoration: none;
   color: #fff;
   font-family: Arial;
   font-weight: bold;
   transition: 0.4s ease-in-out;
}
ul li a:hover{
   color: #1ce0bd;
}
.search{
   width: 330px;
   float: left;
   margin-left: 270px;
}
.srch{
   font-family: 'Times New Roman';
   width: 200px;
   height: 18px;
   background: transparent;
   border: 1px solid #1ce0bd;
   margin-top: 13px;
   color: #fff;
   border-right: none;
   font-size: 16px;
   float: left;
   padding: 10px;
   border-bottom-left-radius: 5px;
   border-top-left-radius: 5px;
}
.btn{
   width: 100px;
   height: 40px;
   background: #1ce0bd;
   border: 2px solid #1ce0bd;
   margin-top: 13px;
   color: #fff;
   font-size: 15px;
   border-bottom-right-radius: 5px;
   border-bottom-right-radius: 5px;
   transition: 0.2s ease;
   cursor: pointer;
}
.btn:hover{
   color: #f10c80;
}
.btn:focus{
   outline: none;
}
.srch:focus{
   outline: none;
}

.content{
   width: 1200px;
   height: auto;
   margin: auto;
   color: white;
   position: relative;
}
.content .par{
   padding-left: 20px;
   padding-bottom: 25px;
   font-family:'roboto';
   font-size: 30px;
   letter-spacing: 1.2px;
   line-height: 30px;
   text-align: center;
}
.content h1{
   font-family: 'Times New Roman';
   color: white;
   font-size: 50px;
   padding-left: 20px;
   margin-top: 9%;
   letter-spacing: 2px;
   text-align: center;
}
.content .cn{
  background-color: #f10c80;
   width: 160px;
   height: 40px;
   border: none;
   margin: auto;
   display: grid;
   font-size: 30px;
   border-radius: 5px;
   cursor: pointer;
   transition: .4s ease;
}


.content .cn a{
  text-decoration: none;
  font-family: 'Times New Roman';
   color: white;
   font-size: 25px;
   margin-top: 5px;
   text-align: center;
   
}

.content span{
   color: #f10c80;
   font-size: 65px
}
.form {
   width: 250px;
   height: 380px;
   background: linear-gradient(to top, rgba(0,0,0,0.8)50%,rgba(0,0,0,0.8)50%);
   position: absolute;
   top: -20px;
   left: 870px;
   border-radius: 10px;
   padding: 25px;
}

.cover {
  position: fixed;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: -100vw;
  z-index: 1000;
}
.transition.slide .cover1 {
    background-size:     cover;                      /* <------ */
    background-repeat:   no-repeat;
  background-image: url(Images/transition.gif);
  animation: slide 1s ease-in-out forwards;
}
@keyframes slide {
  from {
    left: -100vw;
  }
  to {
    left: 0;
  }
}

